
.callout {
  background: $callout;
  border-radius: $border-radius;
  margin: 2rem .5rem 1rem;
  padding: 1.875rem 1.875rem 1.5rem;
  transition: opacity $transition;

  &.floating {
    bottom: 0;
    box-shadow: inset 0 0 0 $border-size $border-color;
    max-width: calc(100% - 1rem);
    position: fixed;
    right: 0;
    width: 22rem;
    z-index: 100;

    .close {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 0 1.25rem;

      p {
        flex-grow: 1;
        margin: 0 .5rem 0 0;
      }

      a {
        color: $muted;
        margin: 0 .5rem;
        text-decoration: none;
        transition: color $transition;

        &:hover {
          color: $text;
        }
      }
    }

    p {
      @include font-regular;
    }

    .button {
      display: block;
      height: auto;
      line-height: 1.5rem;
      min-height: 3rem;
      padding: .75rem 0;
      white-space: normal;
    }
  }

  p {
    @include font-medium;

    font-size: 15px;
    margin: 0;
    text-align: left;

    a {
      border-bottom: $border-size dotted $primary;
      padding: 0 0 $border-size;
      text-decoration: none;

      &:hover {
        border-bottom-color: $primary-hover;
      }

      + i {
        margin: 0 0 0 .25rem;
      }
    }
  }
}
