

pre {
  &[class*="language-"] {
    padding: .5rem 1rem;

    code {
      &[class*="language-"] {
        &,
        .token {
          font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
          font-size: 13.6px;
          font-weight: normal;
          line-height: 1.4em;
        }

        // Fix Bulma & DO Prism styles interfering with default Prism
        .token {
          &.number,
          &.tag,
          &.entity,
          &.operator,
          &.url {
            background: transparent;
            border-radius: initial;
            display: initial;
            font-size: inherit;
            margin: initial;
            padding: initial;
            text-align: initial;
            vertical-align: initial;
          }
        }
      }
    }
  }
}

.code-toolbar {
  > .toolbar {
    right: calc(.2em + 16px);
  }
}

mark {
  background: rgba($highlight, .45);
  color: inherit;
  display: inline-block;
}
