
// stylelint-disable selector-class-pattern
.v-select {
  &.vs--open {
    > ul {
      opacity: 1;
    }

    .vs__dropdown-toggle {
      border-color: $primary;
      box-shadow: 0 0 2px rgba($success, .5);

      .vs__selected {
        height: $height;
        position: unset;
        top: .75em;
      }

      .vs__search {
        position: absolute;
        width: 100%;
      }
    }
  }

  > ul {
    display: block !important;
    margin: 0;
    opacity: 0;
    transition: opacity $transition;
  }

  .vs__dropdown-toggle {
    box-shadow: none;
    padding: 0 16px;
    transition: border $transition, box-shadow $transition;

    .vs__selected-options {
      padding: 0;

      .vs__selected {
        margin: 0;
        padding: 0;
        transition: opacity $transition;

        .has-icon {
          align-items: center;
          display: flex;

          .icon {
            color: $dark-grey;
            font-size: 1.25rem;
            margin: 0 .5rem 0 0;
          }
        }
      }

      .vs__search {
        &,
        &:focus {
          background: none;
          border: 0;
          box-shadow: none;
          margin: 0;
          padding: 0;
          width: 0;
        }
      }
    }

    .vs__actions {
      padding: 0 0 0 .25rem;
    }
  }

  .vs__dropdown-menu {
    .vs__dropdown-option {
      white-space: normal;
    }
  }
}
